<div class="app">
  <div class="count-section">
    # of Shuffles: {{ shuffleCount }}
  </div>
  <h1 class="title">
    <img class="angular-logo" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
    Card Shuffling
  </h1>
  <div class="speed-buttons">
    <button *ngFor="let type of shuffleTypes"
            class="button is-small"
            [class.is-light]="shuffleSpeed !== shuffleSpeedName(type)"
            (click)="shuffleSpeed = shuffleSpeedName(type)">
      {{ type }}
    </button>
  </div>
  <div class="main-buttons">
    <button *ngIf="isDeckShuffled" (click)="displayInitialDeck()" class="button is-primary is-outlined">
      Reset <span class="fas-icon"><i class="fas fa-undo"></i></span>
    </button>
    <button (click)="shuffleDeck()" class="button is-primary">
      Shuffle <span class="fas-icon"><i class="fas fa-random"></i></span>
    </button>
  </div>
  <div class="deck">
    <div class="card" *ngFor="let card of cards; trackBy: cardIdentity" [ngClass]="suitColor[card.suit]" [@itemAnim]>
      <span class="card-suit card-suit-top">{{card.suit}}</span>
      <span class="card-number">{{card.rank}}</span>
      <span class="card-suit card-suit-bottom">{{card.suit}}</span>
    </div>
  </div>
</div>
